* {
  box-sizing: border-box;
}

/* AQUI EMPIEZA EL TEMA DEL GRID  */
html,
html::after {
  background: #f9f9f5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
body,
button {
  font-family: "Raleway", sans-serif;
  color: #1e415a;
}

body {
  margin: 0;
}

h1,
h3 {
  font-size: 46px;
  font-weight: 900;
  text-align: center;
}
h2 {
  font-size: 21px;
  font-weight: 600;
}
h5 {
  font-size: 60px;
  font-weight: 300;
  margin: 0px;
}
h4 {
  font-size: 32px;
  font-weight: 600;
}
button {
  padding: 20px 45px;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 18px;
  min-width: 190px;
}
input {
  border: 1px solid #1e415a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 35px;
  background-color: #8acda1;
  width: 100%;
  font-size: 16px;
}
::placeholder {
  color: #1e415a;
}
.margin20px {
  margin: 0 26px;
}
.margintop20px {
  padding-top: 40px;
}
.paddingbottom60px {
  padding-bottom: 60px;
}

.centertext {
  text-align: center;
}
header {
  padding-top: 100px;
}
header .logo {
  padding-bottom: 50px;
}
header .form {
  background-color: #8acda1;
  width: 100%;
  padding: 60px 20px;
}

.btn-blue {
  background-color: #1e415a;
}
.btn-green {
  background-color: #65b982;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.number article {
  width: 40%;
  min-width: 150px;
  margin: 0 10px;
  text-align: center;
}
.icons article {
  width: 100%;
  margin: 0 10px;
  text-align: center;
}
.icons img {
  width: 40%;
}
section hr {
  width: 20%;
  border: 1px solid #65b982;
}

/* other */

.container {
  padding: 20px;
  text-align: center;
}
.contain-client img {
  width: 100px;
}
.container img {
  width: 100px;
}

.contain-color {
  background-color: #65b982;
  color: #f9f9f5;
  text-align: center;
}
.contact {
  text-align: center;
}
.contain-client {
  text-align: center;
}
